---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
//$base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: 'Source Code Pro', ;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$std-space:        5%;

$paddingsize: 10px;

$headerheight: 50px;
$header-nav-height: 50px;
$nav-bar-spacing: 20px;

// Width of the content area
$content-width:    90%;

$content-section-width:    400px;
$nav-width:        200px;
$on-palm:          600px;
$on-laptop:        800px;

$background: #1d1f21;
$foreground: #c5c8c6;
$black:      #282a2e;
$darkgrey:   #373b41;
$darkred:    #a54242;
$red:        #cc6666;
$darkgreen:  #8c9440;
$green:      #b5bd68;
$darkyellow: #de935f;
$yellow:     #f0c674;
$darkblue:   #5f819d;
$blue:       #81a2be;
$darkmagenta:#85678f;
$magenta:    #b294bb;
$darkcyan:   #5e8d87;
$cyan:       #8abeb7;
$lightgrey:  #707880;
$white:      #a4a4a4;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
