<footer class="footer-wrapper">
    <div class="contact-wrapper">
        <ul class="contact-list">
            {% if site.email %}
            <li class="contact-element">
                <div>
                    <img class="icon" src="{{ site.baseurl}}/assets/icons/email.png" alt="email icon">
                    <a class="footer-link" href="mailto:{{ site.email }}">
                        <span class="username">{{ site.email }}</span>
                    </a>
                </div>
            </li>
            {% endif %}
            {% if site.facebook_page %}
            <li class="contact-element">
                <div>
                    <img class="icon" src="{{ site.baseurl}}/assets/icons/facebook.png" alt="facebook icon">
                    <a class="footer-link" href="{{ site.facebook_page }}">
                        <span class="username">{{ site.facebook_page }}</span>
                    </a>
                </div>    
            </li>
            {% endif %}
            {% if site.github_username %}
            <li class="contact-element">
                <div>
                    <img class="icon" src="{{ site.baseurl}}/assets/icons/github.png" alt="github icon">
                    <a class="footer-link" href="https://github.com/{{ site.github_username }}">
                        <span class="username">{{ site.github_username }}</span>
                    </a>
                </div>
            </li>
            {% endif %}
            {% if site.twitter_username %}
            <li class="contact-element">
                <div>
                    <img class="icon" src="{{ site.baseurl}}/assets/icons/twitter.png" alt="twiiter icon">
                    <a class="footer-link" href="https://twitter.com/{{ site.twitter_username }}">
                        <span class="username">{{ site.twitter_username }}</span>
                    </a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <!--<div>
        <ul class="social-media-list">

        </ul>
    </div>-->
    <div class="sponsors-area">
        <ul class="sponsor-list">
            <li>
                <a href="http://www.sussex.ac.uk/">
                    <img class="uslogo" src="{{ site.baseurl }}/assets/icons/uslogo.png" alt="University of Sussex logo"/>
                </a>
            </li>
        </ul>
    </div>
</footer>