
    <div class="side-nav">
        <ul class="post-list">
            {% assign blogposts = (site.posts | where: "category" , "blog") %}
            {% for post in blogposts limit: 5 %}
            <li>
                <span class"post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </h2>
            </li>
            {% endfor %}
        </ul>
    </div>
