/**
 * Global wrappers
 */
.wrapall {
    margin: $std-space;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.shadow-area {
    box-shadow: 0px 0px 122px 2px $background;
    width: 100%;
}

.content {
    width: $content-width;
    background: $foreground;
    //display: -webkit-flex;
    //display: flex;
}

.content > * {
    padding: $paddingsize;
    padding: $paddingsize;
    /**/
    background: $foreground;
    color: $background;
    /*flex: 3;*/
    order: 1;
    //flex-basis: $content-section-width;
}

.post-content-area {
    width: $content-width;
    background: $foreground;
    display: -webkit-flex;
    display: flex;
}

.post-content-area > * {
    padding: $paddingsize;
    padding: $paddingsize;
    /**/
    background: $foreground;
    color: $background;
    /*flex: 3;*/
    order: 1;
    //flex-basis: $content-section-width;
}

/**
 * Site header
 */
.header-wrapper {
	border-bottom-style: solid;
    border-color: #2E8AE6;
	border-width: 4px;
	background: $darkcyan;
    width: 100%;
}

.header-navbar {
    text-align: center;
    overflow: overlay;
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.header-page-list {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin-left: 0;
}

.header-navbar-element {   
    //padding-left: 10px;
    min-width: 130px;
    line-height: 40px;
    text-align: center;
}

.page-link {
    color: $foreground;
    text-decoration: none;
    flex: 1;
}

/**
* End of Header
**/

.site-title {
    padding: 1%;
}

.onOff {
    text-align: right;
    width: 100%;
}

.site-nav {
    /*order: 2;*/
    display: flex;
    background: $background;
    @media (min-width: 800px) {
        flex-basis: $header-nav-height;
    
        flex-direction: row;
    }

    @media (max-width: 800px) {
        flex-direction: column;
       
    }

    flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-center;
    line-height: $header-nav-height;    // Vertically centers the text
}

.pause {
    color: white;
}

/**
 * Site nav
 */
.header-logo {
    width: 100%;
    overflow: hidden;
    text-align: center;
}    

#logo {
	position: relative;
	margin-top: 10px;
	//left:50px;
	//margin-right: 40px;
	height: 100px;
	width: 100px;
	
	display: inline-block;
}

#logo text {
    position: relative;
	float:left;
    line-height:100px;
    text-align:center;
}

#logoLink {
    text-decoration: none;
}

.nav-wrapper {    
    width: 100%;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}


/**
 * Site footer
 */
.footer-wrapper {
    background: $darkcyan;
    border-top: 2px solid $background;
    /*display: flex;
    flex-wrap: wrap;*/
    width: 100%;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.description-list,
.social-media-list {
    list-style: none;
    margin-right: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin-left: $spacing-unit;
}

.contact-wrapper {
    width: 100%;   
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    overflow: hidden;
}

.contact-element {
    min-width:290px;  
}

.footer-link {
    color: $foreground;
}

.footer-col-wrapper {
    
}

.sponsors-area {
    width: 100%;
    padding: $paddingsize;
}
.sponsor-list {
    list-style: none;
    text-align: right;
    padding-right: 10px;
}

.uslogo {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: $paddingsize;
    width: 100px;
    height: auto;
}

/**
 * Page content
 */
.page-content {
    background: $foreground;
    color: $background;
    flex: 3;
    order: 1;
    //flex-basis: $content-section-width;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $background;
}

.post-link {
    display: block;
    font-size: 18px;
    color: $darkblue;;
    &:visited {
        color: $darkmagenta;
    }
}

/**
 * Posts
 */
.post {
    float: right;
    width: 80%;   
    padding: 0;
    border-left: $background;
    border-left-style: solid;
    border-left-width: 2px;
}

.post-header {
    /*margin-bottom: $spacing-unit;*/
}

.post-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    /*margin-bottom: $spacing-unit;*/
    padding-left: 10px;
    
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }
}

.post-list-nav {
    float:left;
    width: 20%;   
    padding: 0;
    overflow: hidden;
    overflow-wrap: break-word;
}
