/**
 * Global wrappers
 */
.wrapall {
    margin: $std-space;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}

.centered {
    margin: auto;
    //padding: 30px;
    width: $content-width;
    box-shadow: 0px 0px 122px 2px $background;
    display: flex;
    flex-flow: column nowrap;
}

.centered > * {
    padding: $paddingsize;
}

/**
 * Site header
 */
.site-header {
    @media (min-width: 800px) {
        flex-basis: $headerheight;
    }
    background: $darkcyan;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.site-title {
    padding: 1%;
}

.site-title-wrapper {
    /*order: 1;*/
    flex-grow: 2;
    bottom: 0;
    right: 0;
    padding-right: $std-space;
    text-align: right;
}

.site-nav {
    /*order: 2;*/
    display: flex;
    background: $background;
    @media (min-width: 800px) {
        flex-basis: $header-nav-height;
    
        flex-direction: row;
    }

    @media (max-width: 800px) {
        flex-direction: column;
       
    }

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-center;
    line-height: $header-nav-height;    // Vertically centers the text

    .page-link {
        color: $foreground;
        margin-left: $nav-bar-spacing;
        flex: 1;
    }
}

.pause {
    color: $foreground;
}

/**
 * Site nav
 */
.nav-wrapper {
    min-width: $nav-width;
    background: $white;
    order: 2;
    flex: 1;
}

.navbar-list {
    list-style: none;
    margin-left: 0;
    /*padding: $paddingsize;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/**
 * Site footer
 */
.site-footer {
    background: $darkcyan;
    flex-grow: 1;

    h2 {
        color: $cyan;
    }
    
    border-top: 2px solid $background;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.description-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    /*padding: $paddingsize;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-wrapper {
    width: 100%;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-element {
    min-width:290px;  
}

.footer-link {
    color: $foreground;
}

.footer-col-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sponsors-area {
    width: 100%;
    padding: $paddingsize;
}
.sponsor-list {
    list-style: none;
    text-align: right;
    padding-right: 10px;
}

.uslogo {
    padding: 0px;
    width: 100px;
    height: auto;
}

/**
 * Page middle. nav.html and content goes here
 */
.middle {
    /*display: flex;
    justify-content: space-between;*/
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex: 2;
    background: $foreground;
    
    @media (max-width: 800px) {
        flex-direction: column;
    }

    @media (min-width: 800px) {
        flex-direction: row;
    }
}

.middle > * {
    padding: $paddingsize;
    /**/
    background: $foreground;
    color: $background;
    /*flex: 3;*/
    order: 1;
    //flex-basis: $content-section-width;
}

/**
 * Page content
 */
.page-content {
    background: $foreground;
    color: $background;
    flex: 3;
    order: 1;
    //flex-basis: $content-section-width;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $background;
}

.post-link {
    display: block;
    font-size: 18px;
    color: $darkblue;;
    &:visited {
        color: $darkmagenta;
    }
}

/**
 * Posts
 */
.post {
    float: right;
    width: 80%;   
    padding: 0;
}

.post-header {
    /*margin-bottom: $spacing-unit;*/
}

.post-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    /*margin-bottom: $spacing-unit;*/
    padding-left: 10px;
    
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }
}

.post-list-nav {
    float:left;
    width: 20%;   
    padding: 0;
    overflow: hidden;
    overflow-wrap: break-word;
}
